h2 {
}

.home-page-container{
  background-color: transparent;  
  width: 50%;
  height: 30%;
  margin-top: 20px;
  align-items: center;
  margin-top: 5%;
  margin-left: 24%;
  font-size: 17px;
}



.home-page-container a{
  color: #F79240;
}