body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  background-color: #222831 !important;
  color:white !important;
  background-image: url('./images/345781.jpg');
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer{
  width: 100%;
  height: 40px;
  background: inherit;
  color: #dddddd;
  position: fixed;
  bottom: 0;
}

.footer label{
  font-size: 14px;
}

.taby-logo{
  background-image: url('./images/default-monochrome-white.svg');
  background-repeat: no-repeat;
  height: 63px;
  width: auto;
  margin-left: 10px !important;
  margin-top: 10px;
}


.slogan{    
  min-width: 106px;
  margin: 0 !important;
  padding: 0 !important;
  margin-left: -257px !important;
  margin-top: 66px !important;
  font-size: 15px;
  font-style: italic;
}

